 <div class="Logs">
   <table class="table">
     <thead>
       <tr>
         <th>Id</th>
         <th>level</th>
         <th> timestamp</th>
         <th>File</th>
         <th> line</th>
         <th>message</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let log of logs">
         <td><code>{{ log.id }}</code></td>
         <td><code *ngIf="log.level" [class]="'type' + log.level"><b>{{ getLevelString(log.level) }}</b></code></td>
         <td><code *ngIf="log.timestamp">{{ log.timestamp }}</code></td>
         <td><code *ngIf="log.fileName">{{ log.fileName }}</code></td>
         <td><code *ngIf="log.lineNumber">{{ log.lineNumber }}</code></td>
         <td><code *ngIf="log.message">{{ log.message.substr(0, 60) }}</code></td>
       </tr>
     </tbody>
   </table>
 </div>
